*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Gilroy';
    font-size: 18px;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
}
header{
    background-color: #FAFAFA;
    padding: 40px;
}
.header-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    width: 40px;
}
header .nav{
    width: 330px;
}
.nav{
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.gift-finder{
    width: 140px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid #F7941E;
    color: #F7941E;
    text-transform: uppercase;
    text-align: center;
}
.feauters{
    background-color: #F1F1F2;
}
.feauters-info, .feauters-work{
    display: flex;
    align-items: center;
}
.feauters-img  img{
    display: block;
}
.feauters-desc, .feauters-img{
    width: 50%;
}
.feauters .content{
    width: 430px;
    margin: auto;
}
.feauters-title{
    font-size: 55px;
}
.feauter-content-subtitle{
    margin: 50px auto;
}
.feauters-subtitle{
    font-size: 32px;
    font-weight: 400;
}
.feauters-desc p {
    font-size: 20px;
    font-weight: 300;
}
.feauters .find-gift-button{
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #F7941E;
    border-radius: 5px;
    color: #fff;
    text-transform: uppercase;
}
.feauters .learn-more-button{
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border:1px solid #F7941E;
    border-radius: 5px;
    color: #F7941E;
    text-transform: uppercase;
}
.wrap{
    width: 1170px;
    margin: auto;
    padding: 90px 0;
}
.title{
    font-size: 32px;
    font-weight: 400;
}
.subtitle{
    font-size: 18px;
    font-weight: 400;
}
.occasions, .title,
.occasions, .subtitle{
    text-align: center;
}
.occasions-cards{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.occasion-card-item{
    width: 270px;
    background-color: #FAFAFA;  
    transition: .3s;
}
.occasion-card-item:hover{
    background-color: #F1F1F2;
    box-shadow: 10px 10px 15px 0px rgba(0, 0px, 0px, .05);
}
.card-desc{
    padding: 24px;
    text-align: start;
}
.occasion-card, .see-more{
    margin-top: 75px;
    font-size: 14px;
}
.cta{
    background-color: #F7941E;
}
.cta .wrap{
    padding: 80px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cta-info h3, .cta-info p{
    font-size: 32px;
    margin: 5px;
}
.cta-action{
    width: 415px;
}
.cta-buttons{
    display: flex;
    justify-content: space-between;
}
.cta-buttons div{
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
}
.button-primery{
    background-color: #231F20;
    color: #fff;
}
.button-secodary{
    border: 1px solid #231F20 ;
}
.blog-card{
    background-color: #231F20;
    display: flex;
    margin-top: 60px;
}
.blog-card-img{
    width: 400px;
}
.blog-card-img img{
    display: block;
}
.blog-card-info{
    width: 500px;
    margin: 0 80px;
    color: #fff;
    align-self: center;
}
.blog-card, .author{
    font-size: 14px;
}
.blog-card, .see-more{
    font-size: 18px;
}
.blog-card h3{
    font-size: 48px;
    font-weight: 400;
}
.blog-subcards{
    display: flex;
    justify-content: space-between;
    margin : 40px 0;
}
.blog-subcard{
    width: 550px;
    padding: 50px;
    align-items: center;
    transition: .3s;
}
.blog-subcard:hover{
    box-shadow: 10px 10px 15px 0px rgba(0, 0, 0, 0.05);
}
.blog-subcard h4{
    font-size: 24px;
}
.blog-subcard,.blog-subcard-info{
    font-size: 18px;
}
.blog-subcard, .see-more{
    font-size: 14px;
}
footer{
    background-color: #FAFAFA;
    padding: 115px 0 35px;
}
.footer-nav{
    width: 600px;
    margin: auto !important;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.footer-nav li{
    font-size: 14px;
    font-weight: 700;
    padding: 0 25px;
}
.footer-nav li:first-child{
    padding-left: 0;
}
.footer-nav li:last-child{
    padding-right: 0;
}
.footer-logo{
    padding: 0 115px !important;
}
.footer-logo img{
    width: auto;
}
footer .line{
    width: 1000px;
    margin: 55px auto;
    border: 1px solid #000; 
}
footer .social{
    width: 300px;
    margin: auto;
    justify-content: space-between;
    display: flex;
}
.copyright{
    font-size: 14px;
    font-weight: 400;
    margin-top: 70px;
    text-align: center;
}